@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Administrator</h1>
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add New Employee</h5>
                    <a href="/Employee/Add" class="btn btn-primary">Click Here</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List The Employees</h5>
                    <a href="/Employee/Index" class="btn btn-primary">Click Here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Assign New Task</h5>
                    <a href="/EmpTask/Create" class="btn btn-primary">Click Here</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List The Tasks</h5>
                    <a href="/EmpTask/Index" class="btn btn-primary">Click Here</a>
                </div>
            </div>
        </div>
    </div>
</div>
